<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite"
       parallel="false"
       thread-count="3">

    <listeners>

        <listener
            class-name=
            "Listeners.FrameworkListener"/>

    </listeners>

    <test name="Regression">

        <classes>

            <class
                name=
                "Tests.GoogleTest"/>

        </classes>

    </test>

</suite>